html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chelsea Market', cursive;
    font-size: 16px;
    background-color: #d0e8ee97;
    margin: 0 auto;
}

/* phone or baseline views **************************/
header,
nav,
main,
footer {
    margin: 0 auto;
    align-items: center;

}

header {
    /*margin: 1.5rem;*/
    text-align: center;
    background-color: #ffffff;
    color: #1b4d89;
}
header,
h1,
h2 {
    margin:0 ;
    padding: 5px;
}
header h2{
    color:#047692;
    font-size: 1.7em;
}
main {
    padding: 1rem;
}

nav ul {
    background-color: #1b4d89;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-family: 'Chelsea Market', cursive;
    font-size: 1.20rem;
    border: 1px solid black;

}
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.active {
    color: #fff;
}

ul {
    padding-left: 2.15rem;
}

/* Tablet Views ******************************/
@media (min-width: 37.5em) {
    h1 {
        font-size: 2rem;
    }
    
    }
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 auto;
    }

    nav a {
        font-size: 1rem;
    }

    nav a:hover {
        background-color: #1b4d89;
        color: #ffffff;
        --d: 75%;
    }
}

/* Desktop Views ****************************/
@media (min-width: 60em) {
    h1 {
        font-size: 2rem;
    }

    nav {
        max-width: 1200px;
    }

    nav a {
        font-size: 1.1rem;
    }

    main {
        max-width: 1100px;
    }
}